.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-header { 
  background-color: #81F4E1;
  color: #FF729F;
  width: 100%;
  height: 100px;
  text-align: center;
  text-justify: center;

}

.nav-link { 
  margin-left: 10px;
  color: black;
}
.form { 
  width: 250px;
  height: 250px;
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 40px;
  padding-top: 30px;
  font-size: 24px;
  flex-wrap: wrap;
  border: 4px solid black;
}

.exercise-box1, .exercise-box2, .exercise-box3, .exercise-box4 { 
  width: 400px;
  height: 400px;
  align-items: center;
  margin-top: 40px;
  margin-left: 200px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid black;

}

.exercise-1-button, .exercise-2-button, .exercise-3-button, .exercise-4-button { 
  
  margin-top: 40px;
}


.exercise-3-button, .exercise-4-button{ 
  margin-top: 40px;
}